<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rackspace Interactive SVG Map</title>
    <link rel="stylesheet" type="text/css" href="dist/css/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.3/svg.min.js" charset="utf-8"></script>
  </head>
  <body>
      <% include partials/header %>
      <div id="rs-interactive-map"></div>
  </body>
  <script src="dist/js/app.min.js" charset="utf-8"></script>
  <script type="text/javascript">
  const mapConfig = {
    tipColor: '#ffffff',
    officeColor: '#525252',
    dcColor: '#c40022',
    markers: [
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 177,
          y: 244,
        },
        tip: {
          icon: '',
          title: 'ATX Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 177,
          y: 255,
        },
        tip: {
          icon: '',
          title: 'Castle',
          // array of lines
          text: [
            'Located in San Antonio, TX',
            'Castle is Rackspaces',
            'headquarters!',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          diameter: 15,
          x: 180,
          y: 230,
        },
        tip: {
          icon: '',
          title: 'DFW DC\'s',
          // array of lines
          text: [
            'We have a total of 3 DFW data',
            'centers with 198,000 combined',
            'sq footage.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 175,
          y: 275,
        },
        tip: {
          icon: '',
          title: 'Mexico Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          diameter: 15,
          x: 200,
          y: 195,
        },
        tip: {
          icon: '',
          title: 'ORD DC',
          // array of lines
          text: [
            'Located in Chicago IL, our',
            'ORD DC was built in 2012 and',
            'is 230,666 sq ft.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 260,
          y: 203,
        },
        tip: {
          icon: '',
          title: 'NYC Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 245,
          y: 220,
        },
        tip: {
          icon: '',
          title: 'IAD Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          color: '#7c0421',
          diameter: 15,
          x: 240,
          y: 215,
        },
        tip: {
          icon: '',
          title: 'IAD DC',
          // array of lines
          text: [
            'We have a total of 2 Virginia',
            'data centers with 301,612',
            'combined sq footage.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          diameter: 15,
          x: 780,
          y: 265,
        },
        tip: {
          icon: '',
          title: 'HK DC',
          // array of lines
          text: [
            'Our Hong Kong data center',
            'was launched in 2015 and',
            'has a total of 13,280 sq ft.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 790,
          y: 255,
        },
        tip: {
          icon: '',
          title: 'HK Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          diameter: 15,
          x: 885,
          y: 420,
        },
        tip: {
          icon: '',
          title: 'AU DC',
          // array of lines
          text: [
            'Our Australia data center',
            'was launched in 2010 and',
            'has a total of 12,598 sq ft.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          diameter: 15,
          x: 875,
          y: 430,
        },
        tip: {
          type: 'Office',
          icon: '',
          title: 'AU Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          diameter: 15,
          x: 455,
          y: 145,
        },
        tip: {
          icon: '',
          title: 'LON DC',
          // array of lines
          text: [
            'We have a total of 2 London',
            'data centers with 124,926',
            'combined sq footage.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 460,
          y: 155,
        },
        tip: {
          icon: '',
          title: 'LON Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Data Center',
          diameter: 15,
          x: 465,
          y: 175,
        },
        tip: {
          icon: '',
          title: 'FRAN DC',
          // array of lines
          text: [
            'Our France data center was',
            'launched in 2017 and has a',
            'total of 58,125 sq ft.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
      {
        bubble: {
          type: 'Office',
          diameter: 15,
          x: 480,
          y: 165,
        },
        tip: {
          icon: '',
          title: 'Germany Office',
          // array of lines
          text: [
            'This is some information about',
            'the context of this location',
            'on our map.',
            '',
            'Speed Test',
          ],
          link: 'some-link',
          linkIcon: 'some-other-class',
          width: 200,
          height: 130,
        },
      },
    ],
  };

  rsInteractiveMap.init(mapConfig);
  </script>
</html>
